node_modules

/.cache
/build
/public/build
/.env
.vscode/

# openapi-generator-cli bookkeeping
/openapitools.json

/sessions
/coverage

/prisma/dev.db

/private_key.pem
/public_key.pem

Caddyfile
/deploy/cns
